 <%
    def link_to(name, url)
        return "<a href='#{url}'>#{name}</a>"
     end
    %>
<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>
      <a href='me.html'>Me</a>
      <%= link_to('This is the site of GOOGLE','http://www.google.com') %>

    </p>
    <hr />
    <div>
      <%= yield %>
      <form method='post' action="<%= @request.path %>">
        <input type="radio" name="sex" value="male" checked>Male
        <br>
        <input type="radio" name="sex" value="female">Female
        <br>
        <input type="checkbox" name="vehicle" value="Bike">I have a bike
        <br>
        <input type="checkbox" name="vehicle" value="Car">I have a car 
        <input type="submit" value="Submit" />
      </form>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>